* { 
    box-sizing: border-box;
}

html {
    background-color: black;
}

/*
font-family: 'Work Sans', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Staatliches', cursive;
*/

body {
    margin-top: 25px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
    color: rgb(216, 216, 216);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    position: relative;
    padding: 10px 50px 50px 50px;
    border: 1px dashed rgb(207, 160, 160);
    color: rgb(216, 216, 216);
}

p {
    margin-top: 25px;
    font-family: 'Arimo', sans-serif;
    font-size: 16pt;
}

.hidden {
display: none;
}

.startQuizButton {
    margin: 25px;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #4a4f55;
    color: rgb(216, 216, 216);
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #3c6294;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}