* { 
    box-sizing: border-box;
}

html {
    background-color: black;
    padding: 10px;
    height: 100%;
}

body {
    height: 100%;
    color: rgb(216, 216, 216); 
}
/*
font-family: 'Work Sans', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Staatliches', cursive;
*/

.statusBar {
    font-family: 'Anton', sans-serif;
    font-size: 3vh;
    position: relative;
}

.row2 {
    display: inline-block;
    height: 25px;
    text-align: center;
}

.js-userProgress {
   text-align: left;
   position: absolute;
   left: 50px;
   top: 50%;

}

.js-userScore {
    text-align: right;
    position: absolute;
    right: 50px;
    top: 50%
}

.barbell {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Staatliches', cursive;
    font-size: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 90%
    padding: 5px 5px 5px 5px;
    /*border: 1px dashed white;*/
    font-family: 'Arimo', sans-serif;
    font-size: 3vh;
}

div.homePage p {
    width: 80%;
}

.gymPic {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: auto;
}

.hidden {
display: none;
}

h2 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 3vh;
    margin: 15px;
    padding: 5px;
}

fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
}

.answers {
    padding: 5px;
    margin: 10px;
    line-height: 35px;
} 


.submitAnswer {
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    border: none;
    padding: 1rem 2rem;
    margin: 15px;
    text-decoration: none;
    background: #4a4f55;
    color: rgb(216, 216, 216);
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #3c6294;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

@media screen and (min-width: 900px) {
    .gymPic {
        max-width: 800px;
        max-height: 400px;
    }
}
